[submodule "dev/pyboard"]
	path = dev/pyboard
	url = https://github.com/libdeos/deos-pyboard.git
[submodule "ext/urbit"]
	path = ext/urbit
	url = https://github.com/libdeos/__urbit.git
[submodule "ext/urbit-arvo"]
	path = ext/urbit-arvo
	url = https://github.com/libdeos/__urbit-arvo.git
[submodule "ext/urbit-docs"]
	path = ext/urbit-docs
	url = git@github.com:libdeos/__urbit-docs.git
